* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  background-color: #C2D9FF;
}
.App .container {
  width: 100%;
  height: auto;
}
.App .container .link {
  text-decoration: none;
  color: #130652;
}
.App .container .navbar {
  width: 100%;
  position: fixed;
  background-color: transparent;
  z-index: 100;
  transition: 0.3s;
}
.App .container .navbar .container {
  padding: 20px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.3s;
}
.App .container .navbar .container .nav-brand {
  font-size: 1.3rem;
}
.App .container .navbar .container .nav-brand label {
  cursor: pointer;
  color: white;
}
.App .container .navbar .container .links {
  display: flex;
  align-items: center;
  gap: 10px;
}
.App .container .navbar .container .links .link {
  margin: 0 20px;
}
.App .container .navbar .container .links .link h6 {
  position: relative;
  color: white;
  font-size: 16px;
  font-weight: 100;
  font-weight: 300;
}
.App .container .navbar .container .links .link h6::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: all 0.2s ease-in-out;
}
.App .container .navbar .container .links .link h6::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: all 0.2s ease-in-out;
}
.App .container .navbar .container .links .link h6:hover:before {
  width: 100%;
}
.App .container .navbar .container .links .link h6:hover:after {
  width: 100%;
}
.App .container .navbar .container .links .exclude-hover h6:hover:before, .App .container .navbar .container .links .exclude-hover h6:hover:after {
  width: 0%;
}
.App .container .navbar .container .nav-user {
  display: flex;
  gap: 30px;
  align-items: center;
}
.App .container .navbar .container .nav-user .img-container {
  height: 50px;
  width: 50px;
}
.App .container .navbar .container .nav-user .img-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.App .container .navbar .container .nav-user .user-actionbtn h6 {
  background-color: #7752FE;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  color: #E6F0FF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 100;
  font-weight: 300;
  text-decoration: none;
  color: #E6F0FF;
}
.App .container .scrolled {
  background-color: #130652;
  z-index: 100;
  transition: 0.3s;
}
.App .container .scrolled .container {
  padding: 20px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.3s;
}
.App .container .scrolled .container .nav-brand {
  font-size: 1.3rem;
}
.App .container .scrolled .container .nav-brand label {
  cursor: pointer;
  color: white;
}
.App .container .scrolled .container .links {
  display: flex;
  align-items: center;
  gap: 10px;
}
.App .container .scrolled .container .links .link {
  margin: 0 20px;
}
.App .container .scrolled .container .links .link h6 {
  position: relative;
  color: white;
  font-size: 16px;
  font-weight: 100;
  font-weight: 300;
}
.App .container .scrolled .container .links .link h6::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: all 0.2s ease-in-out;
}
.App .container .scrolled .container .links .link h6::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: all 0.2s ease-in-out;
}
.App .container .scrolled .container .links .link h6:hover:before {
  width: 100%;
}
.App .container .scrolled .container .links .link h6:hover:after {
  width: 100%;
}
.App .container .scrolled .container .links .exclude-hover h6:hover:before, .App .container .scrolled .container .links .exclude-hover h6:hover:after {
  width: 0%;
}
.App .container .scrolled .container .nav-user {
  display: flex;
  gap: 30px;
  align-items: center;
}
.App .container .scrolled .container .nav-user .img-container {
  height: 50px;
  width: 50px;
}
.App .container .scrolled .container .nav-user .img-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.App .container .scrolled .container .nav-user .user-actionbtn h6 {
  background-color: #7752FE;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  color: #E6F0FF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 100;
  font-weight: 300;
  text-decoration: none;
  color: #E6F0FF;
}
.App .container .scrolled .container {
  padding: 0px;
  margin: 0px;
}
.App .container footer {
  background-color: #130652;
  height: 50vh;
}

.home .hero {
  height: 100vh;
  background-image: url(../assets/banner.png);
  background-size: cover;
  display: flex;
  justify-content: center;
}
.home .hero .container {
  display: flex;
  flex-direction: column;
  width: 1024px;
  height: 100%;
}
.home .hero .container .hero-article {
  margin-top: 16vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .hero .container .hero-article .massive-articles {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.home .hero .container .hero-article .massive-articles .massive-box {
  height: 50vh;
  margin: 1vh;
  width: 60vh;
  background-color: #8E8FFA;
  cursor: pointer;
}
.home .hero .container .hero-article .massive-articles .massive-box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .hero .container .hero-article .massive-articles .small-posts {
  position: relative;
  color: #E6F0FF;
  cursor: auto;
}
.home .hero .container .hero-article .massive-articles .small-posts .mb-title {
  padding: 10px;
}
.home .hero .container .hero-article .massive-articles .small-posts .latest-articles .latest-article {
  background-color: #E6F0FF;
  color: #333;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  border: #333 solid 1px;
  cursor: pointer;
}
.home .hero .container .hero-article .small-articles {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.home .hero .container .hero-article .small-articles .small-article {
  width: 29vh;
  height: 30vh;
  margin: 1vh;
  background-color: #8E8FFA;
  background-size: cover;
  cursor: pointer;
}
.home .hero .container .hero-article .small-articles .small-article img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home .container .posts {
  border-radius: 10px;
  width: 70%;
  padding: 50px;
  margin: 50px;
  background-color: #8E8FFA;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home .container .posts .post-title {
  color: #E6F0FF;
  margin: 10px 0px 10px 0px;
  padding: 0 20px;
  border-bottom: 2px solid #E6F0FF;
}
.home .container .posts .article-list {
  cursor: pointer;
  width: 100%;
  transition: 0.3;
}
.home .container .posts .article-list .postbox {
  width: 100%;
  margin: 10px;
  border: #333 solid 1px;
}
.home .container .posts .article-list .postbox .article {
  width: 100%;
  height: 15%;
  display: flex;
  background-color: #E6F0FF;
}
.home .container .posts .article-list .postbox .article .article-image {
  height: 200px;
  flex: 30%;
  order: 1;
}
.home .container .posts .article-list .postbox .article .article-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .container .posts .article-list .postbox .article .article-content {
  position: relative;
  flex: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.home .container .posts .article-list .postbox .article .article-content .article-title {
  padding: 0 20px;
}
.home .container .posts .article-list .postbox .article .article-content .article-footer {
  display: flex;
}
.home .container .posts .article-list .postbox .article .article-content .article-footer .article-author {
  padding: 0 20px;
}
.home .container .posts .article-list .postbox .article .article-content .article-footer .article-date {
  padding: 0 20px;
}
.home .container .posts .btn {
  background-color: #7752FE;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: #E6F0FF;
  cursor: pointer;
}

.login {
  background-image: linear-gradient(to top right, #8E8FFA, #E6F0FF);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .container {
  background-color: #8E8FFA;
  width: 60%;
  height: 70%;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.login .container .info-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  color: #E6F0FF;
}
.login .container .info-container .btn {
  background-color: #7752FE;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: #E6F0FF;
  cursor: pointer;
}
.login .container .info-container .btn {
  width: 25%;
}
.login .container .info-container .btn h3 {
  color: #E6F0FF;
}
.login .container .login-form {
  background-color: #E6F0FF;
  width: 70%;
  height: 100%;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.login .container .login-form .form-title {
  text-align: center;
  font-size: large;
  font-weight: 700;
}
.login .container .login-form .form-group {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.login .container .login-form .form-group label {
  font-size: small;
  margin: 10px 0;
  color: #333;
}
.login .container .login-form .form-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
}
.login .container .login-form .form-group .btn {
  background-color: #7752FE;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: #E6F0FF;
  cursor: pointer;
}
.login .container .login-form .form-group .btn {
  align-self: center;
  width: 50%;
  border-radius: 30px;
}
.login .container .login-form .form-group h6 {
  text-align: center;
  margin: 2px;
}/*# sourceMappingURL=index.css.map */