$Color-1: #8E8FFA;
$Color-2: #C2D9FF;
$Color-3: #7752FE;
$Color-4: #130652;
$Color-5: #E6F0FF;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@mixin btn-style(){
    .btn{
        background-color: #7752FE;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        color: $Color-5;
        cursor: pointer;
    }
}
@mixin article-style{
    .article-list {
        cursor: pointer;
        width: 100%;
        transition: 0.3;
        .postbox{
            margin: 10px;
            .article {
                width: 100%;
                height: 200px;
                display:flex;
                background-color: $Color-5;
                .article-image {
                    height: 100%;
                    flex: 30%;
                    order: 1;
                    @include img-cover;
                }
                .article-content{
                    position: relative;
                    flex:70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    .article-title{
                        padding: 0 20px;                    
                    }
                    .article-footer{
                        
                        display: flex;
                        .article-author{
                            padding: 0 20px;
                        }
                        .article-date{
                            padding: 0 20px;
                        }
                        
                    }
                }
                
            }
        }
        
    }
}
@mixin nav-interactivity{
    .container{
        padding: 20px 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        transition: 0.3s;
        .nav-brand{
            font-size: 1.3rem;
            
            label{
                cursor: pointer;
                color: white;
            }
            
        }
        .links{
            display: flex;
            align-items: center;
            gap: 10px;
            .link{
                margin: 0 20px;
                h6 {
                    position: relative;
                    color: white;
                    font-size: 16px;
                    font-weight: 100;
                    font-weight: 300;
                    &::before{
                        content: '';
                        position: absolute;
                        top:100%;
                        left: 0;
                        width:0%;
                        height: 2px;
                        background-color: white;  
                        transition: all 0.2s ease-in-out;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        top:100%;
                        left: 0;
                        width:0%;
                        height: 2px;
                        background-color: white;  
                        transition: all 0.2s ease-in-out;
                    }
                    
                    &:hover {
                        &:before{
                            width: 100%;
                        }
                        &:after{
                            width: 100%;
                        }   
                    }   
                }
            }
            .exclude-hover{
                h6{
                    &:hover {
                        &:before,
                        &:after{
                            width: 0%;
                        }   
                    }
                }
            }
        }
        .nav-user{
            display: flex;
            gap: 30px;
            align-items: center;
            .img-container {
                height: 50px;
                width: 50px;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            .user-actionbtn{
                h6{
                    background-color: #7752FE;
                    padding: 5px 15px;
                    border: none;
                    border-radius: 5px;
                    color: $Color-5;
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: 100;
                    font-weight: 300;
                    text-decoration: none;
                    color: $Color-5;
                }
            }
            
        }
    }
}

@mixin img-cover(){
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}


// Layout
.App {
    display: flex;
    justify-content: center;
    background-color: $Color-2;
    .container {
        width: 100%;
        height: auto;
        .link {
            text-decoration: none;
            color: $Color-4;
        }
        .navbar{
            width: 100%;
            position: fixed;
            background-color: transparent;
            z-index: 100;
            transition: 0.3s;
            @include nav-interactivity();
        }
        .scrolled{
            background-color: $Color-4;
            z-index: 100;
            transition: 0.3s;
            @include nav-interactivity();
            .container{
                padding: 0px;
                margin: 0px;
            }
        }
        
        footer {
            background-color: $Color-4;
            height: 50vh;
        }
    }
}
// Mainpage page
.home {
    .hero{
        height: 100vh;
        background-image: url(../assets/banner.png);
        background-size: cover;
        display: flex;
        justify-content: center;
        .container{
            display: flex;
            flex-direction: column;
            width: 1024px;
            height: 100%;
            .hero-article{
                margin-top: 16vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                .massive-articles{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    .massive-box{
                        height: 50vh;
                        margin:1vh;
                        width: 60vh;
                        background-color: $Color-1;
                        cursor: pointer;
                        @include img-cover;
                    }
                    .small-posts{
                        position: relative;
                        color: $Color-5;
                        cursor: auto;
                        .mb-title{
                            padding: 10px;
                        }
                        .latest-articles{
                            .latest-article{
                                background-color: $Color-5;
                                color: #333;
                                display: flex;
                                justify-content: space-between;
                                padding: 10px;
                                margin: 10px;
                                border: #333 solid 1px;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .small-articles {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    .small-article{
                        width: 29vh;
                        height: 30vh;
                        margin: 1vh;
                        background-color: $Color-1;
                        background-size: cover;
                        cursor: pointer;
                        @include img-cover;
                    }
                }
            }
        }
    }
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        .posts{
            border-radius: 10px;
            width: 70%;
            padding: 50px;
            margin: 50px;
            background-color: $Color-1;
            display: flex;
            align-items: center;
            flex-direction: column;
            .post-title{
                color:$Color-5;
                margin:10px 0px 10px 0px;
                padding: 0 20px;
                border-bottom: 2px solid $Color-5;
            }
            @include article-style;
            @include btn-style;
        }
    }
}
// Login Page
.login{
    background-image: linear-gradient(to top right,$Color-2 , $Color-5 );
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        background-color: $Color-1;
        width: 60%;
        height: 70%;
        border-radius: 20px;
        padding: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .info-container{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            color: $Color-5;

            @include btn-style();
            .btn{
                width: 150px;
            }
        }
        .login-form {
            background-color: $Color-5;
            width: 70%;
            height: 100%;
            padding: 50px 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
            .form-title{
                text-align: center;
                font-size: large;
                font-weight: 700;
            }
            .form-group{
                display: flex;
                flex-direction: column;
                margin: 10px;    
                label{
                    font-size: small;
                    margin: 10px 0;
                    color: #333;
                }
                input{
                    width: 100%;
                    padding: 10px;
                    border: none;
                    border-radius: 20px;
                    outline: none;
                }
                @include btn-style;
                .btn{
                    align-self: center;
                    width: 50%;
                    border-radius: 30px;
                }
                h6{
                    text-align: center;
                    margin: 2px;
                }
            }
        }        
    }
}
//Register Page
.register{
    background-image: linear-gradient(to top right,$Color-2 , $Color-5 );
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        background-color: $Color-1;
        width: 60%;
        height: 70%;
        border-radius: 20px;
        padding: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .info-container{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            color: $Color-5;
            margin: 50px;
            @include btn-style();
            .btn{
                width: 150px;
            }
        }
        .register-form {
            background-color: $Color-5;
            width: 70%;
            height: 100%;
            padding: 20px 20px;
            margin: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 3px;
            .form-title{
                text-align: center;
                font-size: large;
                font-weight: 700;
                
            }
            .form-group{
                display: flex;
                flex-direction: column;
                margin: 5px;    
                label{
                    font-size: small;
                    margin: 10px 0;
                    color: #333;
                }
                input{
                    width: 100%;
                    padding: 10px;
                    border: none;
                    border-radius: 20px;
                    outline: none;
                }
                @include btn-style;
                .btn{
                    align-self: center;
                    width: 50%;
                    border-radius: 30px;
                }
                h6{
                    text-align: center;
                    margin: 2px;
                }
            }
        }  
    }    
}

//Profile
.profile{
    background-color: $Color-1;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-self: center;
    .container{
        width: 100%;
        height: 80%;
        margin: 130px 30px;
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        flex-wrap: wrap;
        .box1{
            width: 30%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .profile-box{
                padding: 10px 10px;
                width: 100%;
                flex: 20%;
                display: flex;
                background-color: #C2D9FF;
                justify-content: space-around;
                align-items: center;
                .profile-img{
                    height: 200px;
                    width: 200px;
                    img{
                        border-radius: 10%;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .profile-info{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    .profile-stats{
                        display: flex;
                        width: 100%;
                        padding-top: 30px;
                        justify-content: space-evenly;
                        .profile-stat{
                            font-size: 1rem;
                            padding: 0px 10px;
                            font-weight: 300;
                        }
                    }
                    button{
                        width: 100%;
                        padding: 10px;
                        border: none;
                        border-radius: 20px;
                        outline: none;
                        background-color: #7752FE;
                        color: $Color-5;
                        cursor: pointer;
                    }
                }
            }
            .aboutme-box{
                padding: 30px 10px;
                flex: 50%;
                background-color: #C2D9FF;
                p{
                    margin-top: 20px;
                    font-size: 1rem;
                    font-weight: 300;
                    text-align: justify;
                }
            }
        }
        .box2{
            width: 60%;
            height: 100%;
            background-color: #C2D9FF;
            .search{
                display: flex;
                justify-content: end;
                padding: 10px 10px;
                input{
                    width: 200px;
                    padding: 10px;
                    border: none;
                    border-radius: 20px;
                    outline: none;
                
                }
            }
            .creator-post{
                height: 95%;
                width: 100%;
                padding: 30px 0px;
                @include article-style();
                .article-list{
                    height: 100%;
                    overflow-y: auto;
                }
            }
            
        }
    }
}